<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.ui.views">

        <category
            id="com.cpputest.manager.category"
            name="CppUTest">
        </category>

        <view
            id="com.cpputest.manager.view"
            name="CppUTest Manager"
            class="com.cpputest.manager.view.TestResultView"
            category="com.cpputest.manager.category"
            icon="icons/CppUTestPlugin@16.png">
        </view>
    </extension>
</plugin>